{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
{{- if tree (printf "%s/elasticsearch" $base) }}
elasticsearch:
  {{ with $v := (key (printf "%s/elasticsearch/base" $base)) }}base: "{{ $v }}"{{ end }}
  {{ with $v := (key (printf "%s/elasticsearch/username" $base)) }}user: "{{ $v }}"{{ end }}
  {{ with $v := (key (printf "%s/elasticsearch/password" $base)) }}password: "{{ $v }}"{{ end }}
  {{ with $v := (key (printf "%s/elasticsearch/data-alias" $base)) }}index: "{{ $v }}"{{ end }}
{{- end }}
{{- end -}}
